@font-face {
  font-family: 'Aeonik';
  src: url('../../../fonts/AeonikTRIAL-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navButton{
  /* display: flex; */
  /* width: 168px; */
  padding: 10px 62px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid var(--new-styles-primary-eazi-green, #11453B);
  color: var(--new-styles-primary-eazi-green, #11453B);
  font-family: 'Aeonik', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  background-color: #fff;
}
.regButton{
  color: #fff;
  border-radius: 24px;
  background: var(--new-styles-primary-eazi-green, #11453B);
  box-shadow: 0px 8px 16px 0px rgba(17, 69, 59, 0.20);
}